<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xudod.attendance.org_indeustry_relation.domain.mapper.OrgIndeustryRelationMapper">
  <resultMap id="BaseResultMap" type="com.xudod.attendance.org_indeustry_relation.domain.entity.po.OrgIndeustryRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id_oth" jdbcType="VARCHAR" property="orgIdOth" />
    <result column="industry_id" jdbcType="VARCHAR" property="industryId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="public_able" jdbcType="VARCHAR" property="publicAble" />
    <result column="shared_able" jdbcType="VARCHAR" property="sharedAble" />
    <result column="inf_status" jdbcType="VARCHAR" property="infStatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="client_type" jdbcType="VARCHAR" property="clientType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id_oth, industry_id, sequence, remark, public_able, shared_able, inf_status, 
    status, version, deleted, user_id, org_id, app_id, client_type, create_by, create_time, 
    modify_by, modify_time
  </sql>
</mapper>
