<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xudod.attendance.user.domain.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xudod.attendance.user.domain.entity.po.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="from_sys_hr_id" jdbcType="VARCHAR" property="fromSysHrId" />
    <result column="from_sys_mdm_id" jdbcType="VARCHAR" property="fromSysMdmId" />
    <result column="mdm_code" jdbcType="VARCHAR" property="mdmCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="produce_code" jdbcType="VARCHAR" property="produceCode" />
    <result column="produce_name" jdbcType="VARCHAR" property="produceName" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_level" jdbcType="VARCHAR" property="postLevel" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="burn_day" jdbcType="VARCHAR" property="burnDay" />
    <result column="birth_place" jdbcType="VARCHAR" property="birthPlace" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="join_bloc_time" jdbcType="VARCHAR" property="joinBlocTime" />
    <result column="join_company_time" jdbcType="VARCHAR" property="joinCompanyTime" />
    <result column="industry_sort" jdbcType="VARCHAR" property="industrySort" />
    <result column="arae" jdbcType="VARCHAR" property="arae" />
    <result column="post_remark" jdbcType="VARCHAR" property="postRemark" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="org_id_oth" jdbcType="VARCHAR" property="orgIdOth" />
    <result column="emp_sort" jdbcType="VARCHAR" property="empSort" />
    <result column="account_nature" jdbcType="VARCHAR" property="accountNature" />
    <result column="account_access" jdbcType="VARCHAR" property="accountAccess" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="office_phone" jdbcType="VARCHAR" property="officePhone" />
    <result column="home_access" jdbcType="VARCHAR" property="homeAccess" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="graduated_school" jdbcType="VARCHAR" property="graduatedSchool" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="admission_time" jdbcType="VARCHAR" property="admissionTime" />
    <result column="graduated_time" jdbcType="VARCHAR" property="graduatedTime" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="high_education" jdbcType="VARCHAR" property="highEducation" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="expertise" jdbcType="VARCHAR" property="expertise" />
    <result column="foreign_language_level" jdbcType="VARCHAR" property="foreignLanguageLevel" />
    <result column="computer_level" jdbcType="VARCHAR" property="computerLevel" />
    <result column="responsibility_position" jdbcType="VARCHAR" property="responsibilityPosition" />
    <result column="current_post_time" jdbcType="VARCHAR" property="currentPostTime" />
    <result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
    <result column="pinyin_short_code" jdbcType="VARCHAR" property="pinyinShortCode" />
    <result column="elec_email" jdbcType="VARCHAR" property="elecEmail" />
    <result column="leader_code" jdbcType="VARCHAR" property="leaderCode" />
    <result column="leader_name" jdbcType="VARCHAR" property="leaderName" />
    <result column="rank_level" jdbcType="VARCHAR" property="rankLevel" />
    <result column="head_department" jdbcType="VARCHAR" property="headDepartment" />
    <result column="unity_account" jdbcType="VARCHAR" property="unityAccount" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="bind_phone" jdbcType="VARCHAR" property="bindPhone" />
    <result column="bank_card_number" jdbcType="VARCHAR" property="bankCardNumber" />
    <result column="length_service" jdbcType="VARCHAR" property="lengthService" />
    <result column="unite_email" jdbcType="VARCHAR" property="uniteEmail" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="public_able" jdbcType="VARCHAR" property="publicAble" />
    <result column="shared_able" jdbcType="VARCHAR" property="sharedAble" />
    <result column="inf_status" jdbcType="VARCHAR" property="infStatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="client_type" jdbcType="VARCHAR" property="clientType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, from_sys_hr_id, from_sys_mdm_id, mdm_code, name, company_code, company_name, 
    produce_code, produce_name, department_code, department_name, post_name, post_code, 
    post_level, gender, burn_day, birth_place, nation, id_card, join_bloc_time, join_company_time, 
    industry_sort, arae, post_remark, org_code, org_id_oth, emp_sort, account_nature, 
    account_access, phone, office_phone, home_access, postal_code, home_phone, graduated_school, 
    specialty, admission_time, graduated_time, education, high_education, job_title, 
    expertise, foreign_language_level, computer_level, responsibility_position, current_post_time, 
    political_status, pinyin_short_code, elec_email, leader_code, leader_name, rank_level, 
    head_department, unity_account, password, bind_phone, bank_card_number, length_service, 
    unite_email, sequence, remark, public_able, shared_able, inf_status, status, version, 
    deleted, user_id, org_id, app_id, client_type, create_by, create_time, modify_by, 
    modify_time
  </sql>
</mapper>
